<footer>
  <div class="content">
    <div class="left box">
      <div class="upper">
        <div class="topic"><strong>Lo que creemos</strong></div>
        <p>“Nuestro pasado, nuestro presente y lo que queda de nuestro futuro 
        depende absolutamente de lo que haremos hoy”.</p>
        <p> Silvya Earle</p>
      </div>
    </div>
    
    <div class="middle box">
      <div class="topic"><strong>Nuestros Servicios</strong></div>
        <div><a href="https://github.com/giseares" target="_blank">Web Design - ROR Development</a></div>
        <div><%= link_to "Coaching", coach_path %></div>
        <div><%= link_to "Formación Profesional", portfolios_path %></div>
        <div><%= link_to "Buceo Recreativo", dive_path %></div>
    </div>
    
    <div class="right box">
      <div class="topic"><strong>Redes Sociales</strong></div>
        <div class="media-icons">
          <a href="https://www.instagram.com/combicalimbaok/" target="_blank"><i class="fab fa-instagram"></i></a>
          <a href="https://www.facebook.com/combicalimba" target="_blank"><i class="fab fa-facebook"></i></a>
          <a href="https://github.com/giseares" target="_blank"><i class="fab fa-github"></i></a>
          <a href="https://www.youtube.com/channel/UC6gKILvZxRGYUyy86tbJ9VA" target="_blank"><i class="fab fa-youtube"></i></a>
        </div>
        <div class="footer-copyright">
          <p>Comparti con <i class="fas fa-heart" ></i> Combicalimba <br>
          Copyright © 2021 <strong>Calimba</strong> All rights reserved</p>
          <%= mail_to "contacto@combicalimba.com" do %>
            contacto@combicalimba.com
          <% end %>
        </div>
      </div>
    </div> 
  </div>  
</footer>