<div class="py-5">
  <div class="container">
    <h2>Como comenzo este viaje...</h2>
    <h4 class="text-left">Buceando en Buenos Aires - Argentina</h4> 
    <div>
      <p>Iniciamos el camino Open Water Diver en Enero de 2016, ese mismo años realizamos el curso de Advanced Diver. Durante 2017 realizamos nuestro curso de Rescue Diver, EFR y Nitrox. 2018 nos recibió en febrero como Divemaster y completamos nuestras especialidades para en Noviembre de 2018 convertirnos en OWSI PADI de la mano de Federico Rozado Course Director 318181</p>
      <p>En paralelo, Flor realizo dos especialidades de la mano de TDI en buceo Tecnico:
        <ul class = "ul-proyect">
          <li><i class="fas fa-angle-double-right"></i> SIDEMOUNT Diver</li>
          <li><i class="fas fa-angle-double-right"></i> FULLCAVE Diver</li>
        </ul>
      </p>
    </div>
    <div class="cards">
      <div class="card-proyect" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path "proyecto_Inicial_CHECKOUT_OWD_yzgcyf" %>')"> 
        <div class="text"> 
          <p>Checkout OWD Ene/16</p>
        </div> 
      </div>
      <div class="card-proyect" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path "proyecto_Inicial_IE_OWSI_wp3isl" %>')"> 
        <div class="text"> 
          <p>Argentina IE Nov/18</p>
        </div> 
      </div>  
    </div>
  </div>
</div>



<div class="banner-white">
  <div class="gallery-profile">
    <div>
      <%= cl_image_tag "undraw_Social_bio_re_0t9u_fvnd2a", class: "profile-imagen" %>
    </div>
    <div class = "flor">
      <h2>Flor</h2>
      <ul>
        <li><i class="fas fa-star"></i> Coaching Ontologico – ICF - Formacion.</li>
        <li><i class="fas fa-star"></i> RRPP y Comunicaciones.</li>
        <li><i class="fas fa-star"></i> Community manager and digital designer.</li>
        <li><i class="fas fa-star"></i> Especialista en Marketing Digital,  Diseño de Imagen de Marca y Conceptualización.</li>
        <li><i class="fas fa-star"></i> Diseño de Piezas, Packaging y Producto.</li>
        <li><i class="fas fa-star"></i> Instructora SDI OWSI# 27932 e Instructora PADI OWSI #414002.</li>
        <li><i class="fas fa-star"></i> Instructora First Response Training #27932 e Instructora EFR #414002.</li>
        <li><i class="fas fa-star"></i> Instructora de: Deep, Sidemount, Dry Suit, Solo DIver y Nitrox</li>
        </ul>
    </div>
    <div class = "gise">
      <h2>Gise</h2>
      <ul>
        <li><i class="fas fa-star"></i> Knowmad.</li>
        <li><i class="fas fa-star"></i> Full Stack Development – Lewagon BA.</li>
        <li><i class="fas fa-star"></i> Licenciada en Administración y sistemas – ITBA.</li>
        <li><i class="fas fa-star"></i> Magister en Dirección estratégica y tecnológica – ITBA.</li>
        <li><i class="fas fa-star"></i> Especialista en procesos de Negocios.</li>
        <li><i class="fas fa-star"></i> Instructora SDI OWSI# 27946 e Instructora PADI OWSI #414004.</li>
        <li><i class="fas fa-star"></i> Instructora First Response Training # 27946 e Instructora EFR #414004.</li>
        <li><i class="fas fa-star"></i> Instructora de Naufragios y Nitrox.</li>
      </ul>
    </div>
  </div>
</div>