<!--BANNER-->
<div class="banner img-fluid" alt= "Home Banner Inicial - ph: @combicalimba"  style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('<%= cl_image_path "home_banner_inicial_vqbmxv" %>')">
  <div class="container">
    <h1>Calimba</h1>
    <p>Profesionales en el camino</p>
    <p> 
      <span id="banner-typed-text"></span>
    </p>
    <a class="btn btn-outline-secondary"  target="_blank" href="https://api.whatsapp.com/send?phone=5491153842626">WhatsApp</a>
  </div>
</div>