<!--BANNER INICIAL-->
<div class="banner_central" alt= "Proyecto Banner Inicial - ph:@andreaferreira" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('<%= cl_image_path "v1637352735/32ki76gzixyzj3dga0o4ekpok8bs.jpg" %>')">
  <div class="container">
    <div class= "text-center">
      <h1>Arma tu propio camino</h1>
      <p>Suma nuevas herramientas para tu camino profesional</p>
    </div>
    <div class="text-center">
      <a class="btn btn-outline-light"  target="_blank" href="https://api.whatsapp.com/send?phone=5491153842626">Contactanos</a>
    </div>  
  </div>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
</div>
